<!DOCTYPE html>
<html>

	<head>
		<title>Automagical</title>
		<!-- CSS -->
		<link rel="stylesheet" href="/stylesheets/clientStyles.css" />
		<link rel="stylesheet" href="/stylesheets/golden-min.css" />
		<link rel="stylesheet" href="/stylesheets/jquery.automagicalCss.css" />
		<link rel="stylesheet" href="/stylesheets/ui-lightness/jquery-ui-1.8.6.custom.css"/>
		
		<!-- End CSS -->
		
		<!-- JQuery CDN link-->
		<script src="/lib/jquery/jquery-1.4.2.js"></script>
		<script src="/lib/jquery/jquery-ui-1.8.6.custom.min.js"></script>
		
		<!-- Our JavaScript Sources -->
		<script src="/src/automagicalCss.js"></script>
		<script src="/src/automagical.js"></script>
		<script src="/src/automagicalUI.js"></script>
		<script src="/src/goldenGrid.js"></script>
		<script src="/src/postProcessing.js"></script>
		<script src="/src/urlparams.js"></script>
		
		<!-- CKEditor JQuery Plugin -->
		<script src="/src/plugins/ckeditor/ckeditor.js"></script>
		<!--<script type="text/javascript" src="src/ckeditor/adapters/jquery.js"></script>-->
		
		<!-- Color Picker Plugin -->
		<script src="/src/plugins/colorPicker/jscolor.js"></script>

		
		<!-- Form JQuery Plugin -->
		<script src="/src/plugins/jquery.form.js"></script> 
		
		<!-- ContextMenu JQuery Plugin -->
		<script src="/src/plugins/jquery.contextMenu.js"></script> 

		<!-- Jquery Colorpicker Plugin -->
		<link rel="stylesheet" media="screen" type="text/css" href="/src/plugins/jq_colorpicker/css/colorpicker.css" />
		<script type="text/javascript" src="/src/plugins/jq_colorpicker/js/colorpicker.js"></script>
		
		<!-- Jquery Tree Plugin -->
		<script type="text/javascript" src="/src/plugins/jsTree/jquery.jstree.js"></script>

		<!-- Newer JQuery UI Plugin -->
		<!--<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js"></script>
		<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/> -->

		
		<!-- Menu Animation Script -->
		<script>
			$(document).ready(function()
			{
				automagical.initialize();
			});
		
		</script>
		<!-- End Menu Animation Script -->
		
		<style type="text/css" id="temporary"> </style> 
		
	</head>

	<body>
		<div id="menuContainer">
			<div id="navContainer">
				<!-- Nav Bar -->
				<nav id="nav">
					<a id="getHTML" href="#">Save Page</a>
					<a id="myPages" href="/user">My Pages</a>
				</nav>
	
				<!-- Toolbox -->
				<nav id="menuToolbox"></nav>
			</div>
			
			<!-- Tab for toggling menu view -->
			<div id="menuDisplayControl" class="showTabs"><label id="lblDropDown">Show Menu</label></div>
		</div>
			
		<div id="canvas" class="container"></div>
		
		<div id="attributesWrapper">
		
			<div id="attributes-wrapper" class="automagicalCss-right">		
				<div id="attributes-panel" align="right">
					<div id="showHide">
						<label id="showHideLabel">&gt&gt </label>
					</div>
					<div id="marginDiv">
						<div id="attributes-selector">
							<label for="attributes-selector-input">Element</label>
							<input type="text" id="attributes-selector-input">
						</div>
						<div id="attributes-list">
						</div>
					</div>
				</div>
			</div>

		</div>
	</body>

</html>
