<!DOCTYPE html>
<html>
	<head>
		<title>Automagical</title>
		
		<link rel="stylesheet" href="/stylesheets/cssEditor.css"/>
		
		<!-- JQuery CDN link-->
		<script src="/lib/jquery/jquery-1.4.2.js"></script>
		<script src="/lib/jquery/jquery-ui-1.8.6.custom.min.js"></script>
		
		<script src="/src/urlparams.js"></script>
		<script src="/src/csseditor/csseditor.js"></script>
		<script src="/src/csseditor/cssmain.js"></script>
		
	</head>
	
	<body>
		<div id="attributesWrapper"></div>
			
		<div id="canvas"></div>
	</body>
	
</html>