html,body,div{border:0;margin:0;padding:0; height:100%; font-family: Helvetica, Arial; font-size: 16px;}

body{height:100%;}
#canvas{border: gray dotted 1px;}

#menuContainer{
	position:fixed;
	height:auto;
	width: 100%;
	z-index: 150;
}

/* NAVBAR STYLING */
#nav{
	/* Standard */
	width:100%;
	height: 25px;
	padding-top:6px;
	background-color: #c9c9c9;
	box-shadow: 0 2px 2px black;
	
	/* Webkit */
	-webkit-box-shadow: 0 2px 2px black;
	
	/* Firefox */
	-moz-box-shadow: 0 2px 2px black;
}

#nav a:first-child{
	margin-left: 8px;
	border-left: 1px #818181 solid;
}

#nav a{
	/* Standard */
	text-align: right;
	padding: 6px 10px 7px 10px;
	margin-left: -5px;
	text-decoration: none;
	color: #292929;
	text-shadow: 0px 1px 0px #cccccc;
	border-right: 1px #818181 solid;
	transition: all 0.8s;

	/* Webkit */	
	-webkit-transition: all 0.8s;
		
	/* Firefox */
	-moz-transition:  all, 0.8s;
}

#nav a:first-child:hover{
	border-left: 1px solid black;	
}

#nav a.active{
	color:white;
	border-left: 1px #333333 solid;
	text-shadow: 1px 1px 0px #353535;
	background-color: #333333;
}

#nav a:hover{
	color:white;
	border-right: 1px black solid;
	text-shadow: 1px 1px 0px #353535;
	background-color: #333333;
}
/* END NAVBAR */

/* Toolbox STYLING */
#menuToolbox{
	position: relative;
	width:100%;	
	padding-top: 10px;
	padding-bottom:8px;
	background-color: #333333;
	filter:alpha(opacity=90);
  	opacity: 0.9;
	
	/* Standard */
	box-shadow: 0 2px 2px black;

	/* Webkit */	
	-webkit-box-shadow: 0 2px 2px black;
	
	/* Firefox */
	-moz-box-shadow: 0 2px 2px black;
}

#menuToolbox a:first-child {
	margin-left: 25px;
}

#menuToolbox a {
	margin-right:10px;
}

#menuToolbox img {
  border: 1px #fff solid;
  
  /* Standard */
  border-radius: 3px;
  
  /* Webkit */
  -webkit-border-radius: 3px;
  
  /* Firefox */
  -moz-border-radius: 3px;
}

#menuToolbox a:hover img {
  filter:alpha(opacity=50);
  opacity: 0.5;
}

/* END Toolbox STYLING */

/* Display Contorol STYLING*/
#menuDisplayControl{
	color:#292929;
	text-align: center; 
	position:relative; 
	background-color:#c9c9c9; opacity: 0.4;
	margin-left: auto;
	margin-right: auto;
	width:160px;
	
	/* Standard */
  	border-bottom-right-radius: 5px;
  	border-bottom-left-radius: 5px;  
  	/* Webkit */
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;  
  	/* Firefox */
	-moz-border-bottomright-radius: 5px;
	-moz-border-bottomleft-radius: 5px;
	
	/* Standard */
	box-shadow: 0 2px 2px black;

	/* Webkit */	
	-webkit-box-shadow: 0 2px 2px black;
	
	/* Firefox */
	-moz-box-shadow: 0 2px 2px black;
}
/* END Display Control Styling */

/* Attributes Panel STYLING */

#attributesContainer{
}

/* END Attributes Panel Styling*/

/* Component STYLING */

.component {
	border: 1px dotted #464646;
	margin: 0px 0px 0px 0px;
}


/* Context Menu STYLING */
  .context-menu {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    
    background-color: #f2f2f2;
    border: 1px solid #999;
    
    list-style-type: none;
    margin: 0; 
    padding: 0;
  }
  .context-menu a {
    display: block;
    padding: 3px;
    text-decoration: none;
    color: #333;
  }
  .context-menu a:hover {
    background-color: #666;
    color: white;
  }

/* END Context Menu STYLING */

/* END Componenet Styling*/
